<header>    
    <div class="sub-nav-mobile">
        <div class="logo">
            <a href="/"><p>Movelo</p></a>
        </div>

    </div> 

        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>

    <nav>
        
        <ul class="menu-links">
            <li class="menu-item"><a href="/" class="menu-link">Inicio</a></li>
            <li class="menu-item"><a href="/servicios" class="menu-link">Servicios</a></li>
            <li class="menu-item"><a href="http://localhost:3000/" class="menu-link">Dashboard</a></li>
                <ul class="sub-menu">
                <% if (locals.isLogged) { %>
                    <li>
                        <img src="/images/avatars/<%= locals.userLogged.image %>" width="40" style="border-radius:100%;" alt="">
                    </li>
                    <li>
                        <a href='/users/perfil'><p> Hola, <%= locals.userLogged.first_name %></p></a>
                    </li>
                    <% if(user.id_user_category == 2) { %>
                    <li>
                        <a href="/users/mis-servicios">Mis servicios</a>
                    </li>
                    <% } %><% { %>
                    <% } %>
                    <% if(user.id_user_category == 1) { %>
                        <li>
                            <a href="/users/admin">Panel de contról</a>
                        </li>
                        <% } %> <% { %>
                        <% } %>
                    <li>
                        <a href="/users/logout">Cerrar sesión</a>
                    </li>
                <% } else { %>
                    <div class="botones-nav">
                        <li><a class="boton-a" href="/users/login">Iniciar sesisón</a></li>
                        <li><a class="boton-b" href="/users/registro">Registrate</a></li>
                        </div>
                <% } %>
                </ul>
            </li>
        </ul>
    </nav>
</header>