<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil-publico.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->

    <main>
 
    </main>

<%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
