<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin2.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
        <section>

          <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>
            <h1>Panel de control</h1>

            <div class="panel-de-control">

                <div class="usuarios">
                    <a href="/users/admin/usuarios">Lista de usuarios</a>
                </div>
        
                <div class="servicios">
                    <a href="/users/admin/servicios">Lista de servicios</a>
                </div>

            </div>
        </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
