/*--------GLOBALES---------*/

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 0 !important;
}
/*--------BODY---------*/

body {
  background-image: url(/images/vectors/Path\ 230.svg);
  width: 100vw;
}

/*--------HEADER---------*/

header .sub-nav-mobile {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.sub-nav-mobile .logo p {
  font-size: 24px;
  font-weight: 400;
  display: block;
  align-items: center;
}

.sub-nav-mobile .logo a {
  text-decoration: none;
  color: black;
}

.menu-hamburguesa {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px 12px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 40px;
}

nav {
  display: none;
}

/*--------MAIN---------*/

/*--------MAIN-HOME---------*/

h2 {
  color: black;
  font-size: 32px;
}

main {
  min-height: calc(100vh - 115.594px - 151.5px);
  width: 100wv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: auto;
}

main .formulario-crear-servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:rgb(250, 250, 250);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;

  
}

main .formulario {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: black solid 2px;
  border-radius: 60px;
  z-index: 1;
}

main .editarCrear {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  height: fit-content;
  padding-top: 20px;
}



main .formulario-articulo-a-editar {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: black solid 2px;
  border-radius: 60px;
  z-index: 1;
}
.articulo-a-editar {
  border: #000000 1px solid;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
}

form {
  width: 90%;
  display: inline
}

.formulario-crear-servicio h3{
  margin-top: 5px;
  margin-bottom: 10px;
}

.formulario-crear-servicio .row-crear {
  display: flex;
  flex-direction: row;
}

.row-crear input {
  margin-right: 25px;
}

.formulario-crear-servicio .column-crear {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formulario-crear-servicio input {
  border-radius: 10px;
  padding: 2px;
  border: solid 1px black;
  margin-top: 5px;
}

.sub-row-crear input {
  margin-left: 8px;
}

.sub-row-crear {
  margin-top: 10px;
}

.botones-crear {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.publicar-crear {
  display: flex;
  background-color: black;
  margin: 25px auto;
  width: 150px;
  border-radius: 10px;
  align-self: center;
}

.publicar-crear button {
  margin: auto;
  color: white;
  background-color: transparent;
  border: 0px;
  padding: 5px;
}

.reset-crear {
  display: flex;
  background-color: transparent;
  border: solid 1px black;
  margin: 15px auto;
  width: 150px;
  border-radius: 10px;
  align-self: center;
}

.reset-crear input {
  margin: auto;
  color: black;
  background-color: transparent;
  padding: 5px;
  border: none;
}

.boton-eliminar {
  display: flex;
  background-color: black;
  margin: 25px auto;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  align-self: center;
}

.boton-eliminar input {
  margin: auto;
  color: white;
  background-color: transparent;
  padding: 5px;
}

/*--------FOOTER-HOME---------*/

footer {
  position: relative;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

footer .logos i {
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 10px;
  text-align: center;
}

/*------------TABLET--------------*/

@media (min-width: 480px) {
  /*--------HEADER-TABLET---------*/

  header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }

  .sub-nav-mobile .logo p {
    font-size: 24px;
  }

  .menu-hamburguesa {
    display: none;
  }

  header nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: end;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 15px;
  }

  header nav ul li {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  header nav ul li a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    display: block;
    align-items: center;
  }

  .botones-nav {
    display: flex;
    flex-direction: row;
  }

  .botones-nav .boton-a {
    text-decoration: none;
    font-size: 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
  }

  .botones-nav .boton-b {
    text-decoration: none;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
  }

}

/*--------MAIN-TABLET---------*/


/*-----------DESKTOP------------*/

@media (min-width: 760px) {
  /*--------HEADER-DESKTOP---------*/

  header {
    width: 85%;
    margin: auto;
  }

  header nav {
    width: 85%;
  }

  .sub-nav-mobile .logo p {
    font-size: 24px;
  }

  header nav ul li a {
    font-size: 14px;
    padding: 10px;
  }

  header nav ul li a:hover {
    text-decoration-line: underline;
  }

  .botones-nav .boton-a {
    font-size: 14px;
    width: 110px;
  }

  .botones-nav .boton-b {
    font-size: 14px;
    width: 110px;
  }

  /*--------MAIN-DESKTOP---------*/

  main {
    justify-content: space-between;
  }

  form {
    width: 70%;
  }

  main .formulario-crear-servicio form .botones-crear {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main .editarCrear a {
    padding-bottom: 0px;
  }
}
