/*--------GLOBALES---------*/

* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 0 !important;
  }
  /*--------BODY---------*/
  
  body {
    background-image: url(/images/vectors/Path\ 230.svg);
    width: 100vw;
  }
  
  /*--------HEADER---------*/
  
  header .sub-nav-mobile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
  }
  
  .sub-nav-mobile .logo p {
    font-size: 24px;
    font-weight: 400;
    display: block;
    align-items: center;
  }
  
  .sub-nav-mobile .logo a {
    text-decoration: none;
    color: black;
  }
  
  .menu-hamburguesa {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 12px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
  }
  
  nav {
    display: none;
  }
  
  /*--------MAIN---------*/
  
  /*--------MAIN-HOME---------*/
  
  
  main {
    min-height: calc(100vh - 115.594px - 151.5px);
    width: 85%;
    margin: auto;
  }

  main h1 {
    font-size: 24px;
  }
  
  main section a:link {
    color: #000000;
    text-decoration: none;
  }
  main section a:visited {
    color: black;
  }

  main section .lista-servicios .servicio {
      background-color: black;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      width: 80%;
  }
  
  main section .servicio a {
      color: white;
      font-size: 12px;
  }

  .servicio a p {
    margin: 5px;
    font-size: 12px;
  }

  /*--------FOOTER-HOME---------*/
  
  footer {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  
  footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }
  
  footer .logos i {
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
    footer .logos .fa-twitter:hover{
      color: #1D9BF0;
      transition: color 0.2s ease-in-out;
  }
  footer .logos .fa-facebook:hover{
      color: #1877F2;
      transition: color 0.2s ease-in-out;
  }
  footer .logos .fa-instagram:hover{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background 0.2s ease-in-out;
  }
  
  footer p {
    font-size: 10px;
    text-align: center;
  }
  
  /*------------TABLET--------------*/
  
  @media (min-width: 480px) {
    /*--------HEADER-TABLET---------*/
  
    header {
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: center;
    }
  
    .sub-nav-mobile .logo p {
      font-size: 24px;
    }
  
    .menu-hamburguesa {
      display: none;
    }
  
    header nav {
      display: flex;
      flex-direction: row;
      width: 75%;
      justify-content: end;
    }
  
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: end;
      margin-right: 15px;
    }
  
    header nav ul li {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  
    header nav ul li a {
      text-decoration: none;
      font-size: 10px;
      color: black;
      display: block;
      align-items: center;
    }
  
    .botones-nav {
      display: flex;
      flex-direction: row;
    }
  
    .botones-nav .boton-a {
      text-decoration: none;
      font-size: 10px;
      background-color: transparent;
      color: black;
      padding: 10px;
      border: solid 1px black;
      border-radius: 25px;
      width: 85px;
      text-align: center;
    }
  
    .botones-nav .boton-b {
      text-decoration: none;
      font-size: 10px;
      background-color: black;
      color: white;
      padding: 10px;
      border: solid 1px black;
      border-radius: 25px;
      width: 85px;
      text-align: center;
    }
  
  }
  
  /*--------MAIN-TABLET---------*/
  
  
  /*-----------DESKTOP------------*/
  
  @media (min-width: 760px) {
    /*--------HEADER-DESKTOP---------*/
  
    header {
      width: 85%;
      margin: auto;
    }
  
    header nav {
      width: 85%;
    }
  
    .sub-nav-mobile .logo p {
      font-size: 24px;
    }
  
    header nav ul li a {
      font-size: 14px;
      padding: 10px;
    }
  
    header nav ul li a:hover {
      text-decoration-line: underline;
    }
  
    .botones-nav .boton-a {
      font-size: 14px;
      width: 110px;
    }
  
    .botones-nav .boton-b {
      font-size: 14px;
      width: 110px;
    }
  
    /*--------MAIN-DESKTOP---------*/
  
    main {
      justify-content: space-between;
    }

    main h1 {
      font-size: 32px;
    }

    main section .servicio a {
      color: white;
      font-size: 16px;
  }

  .servicio a p {
    margin: 5px;
    font-size: 16px;
  }
  
    form {
      width: 70%;
    }
  }