/*--------GLOBALES---------*/

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/*--------BODY---------*/


body {
    background-image: url(/images/vectors/Path\ 230.svg);
    width: 100vw;
}

/*--------HEADER---------*/

header .sub-nav-mobile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.sub-nav-mobile .logo p {
    font-size: 24px;
    font-weight: 400;
    display: block;
    align-items: center;
}

.sub-nav-mobile .logo a {
    text-decoration: none;
    color: black;
}

.menu-hamburguesa {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 12px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
}

nav {
    display: none;
}

/*--------MAIN---------*/

/*--------MAIN-PRODUCTDETAIL---------*/

.servicios {
    min-height: calc(100vh - 115.594px - 151.5px);
}

main .servicios {
    display: flex;
    flex-direction: column;
}

.servicios .lupa {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.lupa i {
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 45px;
    padding: 10px;
    margin: 0px;
}

.banner img {
    display: none;
}

.servicios p {
    font-size: 28px;
    margin: 10px;
    text-align: center;
}

.servicios .formulario {
    display: flex;
    flex-direction: column;
}

form .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

form .origen {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

form .destino {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.origen label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.destino label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.origen input {
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
}

.destino input {
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px;
}

.boton-buscar {
    text-decoration: none;
    background-color: black;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100px;
}

.boton-buscar a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.filtros .filtros-desktop {
    display: none;
}

.filtros .filtros-mobile {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 10px;
    justify-content: flex-end
}

.filtros-mobile label {
    font-size: 14px;
    margin-right: 5px;
}

.filtros-mobile i {
    font-size: 18px;
}

.servicios .linkDetalle {
    display: block;
    text-decoration: none;
    color: black;
}

.servicios .articulos {
    display: flex;
    flex-direction: column;
}


.articulos .articulo {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.articulo .verify {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.articulo .verify p {
    font-size: 10px;
    margin-right: 0px;
}

.articulo .verify i {
    padding: 8px;
}

.articulo .ciudad-origen {
    font-size: 16px;
    margin-top: 20px;
}

.articulo .ciudad-destino {
    font-size: 16px;
    margin-bottom: 20px;
}

.articulo .flechas {
    display: flex;
    margin-top: 10px;
}

.flechas i {
    background-color: transparent;
    color: black;
    font-size: 45px;
    padding: 10px;
    margin: auto;
}

.articulo .precio {
    font-size: 14px;
    margin-bottom: 30px;
}

.articulo .sub-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-iconos .review {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
    align-items: center;
    margin-left: 10px;
}

.sub-iconos .review i {
    font-size: 12px;
}

.sub-iconos .review p {
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    color: black;
    display: flex;
    align-items: center;
}

.sub-iconos .comprar {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    align-self: center;
    margin-right: 10px;
}

.sub-iconos .comprar img {
    padding: 8px 8px 8px 0px;
    max-width: 25px;
}

.sub-iconos .comprar p {
    font-size: 12px;
    margin-right: 2px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.servicios .boton-ver-mas {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: transparent;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    align-self: center;
}

.servicios .boton-ver-mas a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center; 
    margin-right: 5px;
}

.boton-ver-mas i {
    display: flex;
    align-items: center;
}

/*--------FOOTER-HOME---------*/


footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

footer .logos i {
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
}

/*------------TABLET--------------*/

@media (min-width: 480px) {

/*--------HEADER-TABLET---------*/

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.sub-nav-mobile .logo p {
    font-size: 24px;
}

.menu-hamburguesa{
    display: none;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: end;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 15px;
}

header nav ul li {
    display: flex;
    align-items: center;
    padding: 5px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    display: block;
    align-items: center;
}

.botones-nav {
    display: flex;
    flex-direction: row;
}

.botones-nav .boton-a {
    text-decoration: none;
    font-size: 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
}

.botones-nav .boton-b {
    text-decoration: none;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
}

/*--------MAIN_PRODUCTDETAIL-TABLET---------*/

.servicios .banner {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.servicios .lupa {
    justify-content: center;
}

.banner img {
    max-width: 100px;
    display: flex;
    margin: auto;
}

.servicios form .formulario {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.formulario .origen {
    width: 40%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.formulario .destino {
    width: 40%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.origen input {
    width: 85%;
    display: flex;
}

.origen label {
    margin-left: 20px;
}

.destino input {
    width: 85%;
    display: flex;
}

.destino label {
    margin-left: 20px;
}

.formulario .boton-buscar {
    width: 20%;
    padding: 7px;
    margin-top: 23px;
    margin-bottom: 10px;
}


.servicios .articulos .articulo-desktop {
    display: flex;
}

.servicios .articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.servicios .articulo-desktop {
    display: block;
}

.articulos .articulo {
    width: 45%;
}

.sub-iconos .review {
    padding: 5px;
}

.sub-iconos .review i {
    font-size: 9px;
}

.sub-iconos .review p {
    font-size: 9px;
    margin-left: 1px;
}

.sub-iconos .comprar i {
    font-size: 16px;
}

.sub-iconos .comprar p {
    font-size: 9px;
}

}

/*-----------DESKTOP------------*/

@media (min-width: 830px) {

/*--------HEADER-DESKTOP---------*/

header {
    width: 85%;
    margin: auto;
}

header nav {
    width: 85%;
}

.sub-nav-mobile .logo p {
    font-size: 24px;
}

header nav ul li a {
    font-size: 14px;
    padding: 10px;
}

header nav ul li a:hover {
    text-decoration-line: underline;
}

.botones-nav .boton-a {
    font-size: 14px;
    width: 110px;
}

.botones-nav .boton-b {
    font-size: 14px;
    width: 110px;
}

/*--------MAIN_PRODUCTDETAIL-DESKTOP---------*/

.origen input:hover {
    border: solid 2px black;
}

.destino input:hover {
    border: solid 2px black;
}

.filtros .filtros-mobile {
    display: none;
}


.filtros .filtros-desktop {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.filtros-desktop .filtro {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: 12px;
}

.filtro a {
    text-decoration: none;
    color: black;
}

.filtro a:hover {
    text-decoration: underline;
}

.filtro i {
    margin-left: 5px;
}

.servicios {
    width: 85%;
    margin: auto;
}

.articulo:hover {
    border: solid 2px black;
}

.articulo .flechas i {
    transition: 1000ms;
}

.articulo:hover .flechas i {
    transform: rotateZ(180deg);
}

.articulos .articulo {
    width: 30%;
}

.sub-iconos .review {
    padding: 5px;
}

.sub-iconos .review i {
    font-size: 9px;
}

.sub-iconos .review p {
    font-size: 9px;
    margin-left: 1px;
}

.sub-iconos .comprar i {
    font-size: 16px;
}

.sub-iconos .comprar p {
    font-size: 9px;
}

.boton-ver-mas a:hover {
    text-decoration: underline;
}

}