/*--------GLOBALES---------*/

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/*--------BODY---------*/

body {
    background-image: url(/images/vectors/Path\ 230.svg);
    width: 100vw;
}

/*--------HEADER---------*/


header .sub-nav-mobile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.sub-nav-mobile .logo p {
    font-size: 24px;
    font-weight: 400;
    display: block;
    align-items: center;
}

.sub-nav-mobile .logo a {
    text-decoration: none;
    color: black;
}

.menu-hamburguesa {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 12px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
}

nav {
    display: none;
}

/*--------FOOTER-HOME---------*/


footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

footer .logos i {
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
}

/*------------TABLET--------------*/

 @media (min-width: 480px) {

/*--------HEADER-TABLET---------*/

    header {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
    }

    .sub-nav-mobile .logo p {
        font-size: 24px;
    }

    .menu-hamburguesa{
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: end;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: end;
        margin-right: 15px;
    }

    header nav ul li {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    header nav ul li a {
        text-decoration: none;
        font-size: 10px;
        color: black;
        display: block;
        align-items: center;
    }

    .botones-nav {
        display: flex;
        flex-direction: row;
    }

    .botones-nav .boton-a {
        text-decoration: none;
        font-size: 10px;
        background-color: transparent;
        color: black;
        padding: 10px;
        border: solid 1px black;
        border-radius: 25px;
        width: 85px;
        text-align: center;
    }

    .botones-nav .boton-b {
        text-decoration: none;
        font-size: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        border: solid 1px black;
        border-radius: 25px;
        width: 85px;
        text-align: center;
    }
}

@media (min-width: 760px) {

    /*--------HEADER-DESKTOP---------*/
    
        header {
            width: 85%;
            margin: auto;
        }
    
        header nav {
            width: 85%;
        }
    
        .sub-nav-mobile .logo p {
            font-size: 24px;
        }
    
        header nav ul li a {
            font-size: 14px;
            padding: 10px;
        }
    
        header nav ul li a:hover {
            text-decoration-line: underline;
        }
    
        .botones-nav .boton-a {
            font-size: 14px;
            width: 110px;
        }
    
        .botones-nav .boton-b {
            font-size: 14px;
            width: 110px;
        }
    
    /*--------MAIN-DESKTOP---------*/

        main .principal {
            display: flex;
            flex-direction: column;
            width: 75%;
            margin: auto;
        }

        .principal .titulo {
            display: flex;
            flex-direction: row;
        }

        .titulo h1 {
            display: flex;
        }

        .titulo a {
            display: flex;
            margin: auto;
            color: black;
            text-decoration: none;
        }

        main .user-info {
            display: flex;
            flex-direction: row;
        }

        main .imagen {
            margin: 20px 30px 20px 30px;
        }

        main .imagen img {
            display: block;
            margin: auto;
        }

        main .boton-editar {
            display: flex;
            width: 220px;
            max-width: 95%;
            height: 35px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin: 20px auto;
            background-color: black;
            color: white;
            border-radius: 25px;
        }

        main .boton-editar a {
            margin: auto;
            color: white;
            border: 0ch;
            background-color: transparent;
            padding: 5px;
          }

        main .principal .info {
            display: flex;
            flex-direction: row;
        }

        .info .left {
            margin-right: 70px;
        }

        main .principal .info .sub-info {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        main .principal .info .sub-info label {
            font-size: 18px;
            font-weight: 700;
        }

        main .principal .info .sub-info p {
            margin: 10px 0px;
        }
    }

