/*--------GLOBALES---------*/

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/*--------BODY---------*/


body {
  background-image: url(/images/vectors/Path\ 230.svg);
  width: 100vw;
}

/*--------HEADER---------*/

header .sub-nav-mobile {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.sub-nav-mobile .logo p {
  font-size: 24px;
  font-weight: 400;
  display: block;
  align-items: center;
}

.menu-hamburguesa {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px 12px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 40px;
}

nav {
  display: none;
}

/*--------MAIN---------*/

main{
  min-height: calc(100vh - 115.594px - 151.5px);
}

main iframe {
  display: none;
}


main .detalles_carrito {
  background-color: white;
  box-shadow: 10px 5px 5px rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: solid 1px rgb(66, 66, 66);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.flechas i {
  text-align: center;
  font-size: 25px;
  transition: 1000ms;
}
main .caja_contenido {
  display: flex;
}
.flechas i:hover {
  transform: rotateZ(180deg);
}
main .navbar_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .navbar_carrito .flecha {
  display: inline;
  font-size: 2px;
  margin-right: 2vh;
}
main .navbar_carrito .carrito {
  display: none;
}
main .articulo .viaje {
  text-align: center;
}
main .articulo .viaje p {
  font-weight: bold;
}

main .detalles_carrito h2 {
  padding-top: 5px;
  text-align: center;
}
main .detalles_carrito p {
  margin: 4px;
  text-align: center;
}
main article {
  width: 90%;
  margin: auto;
  padding: 1vw 1vh;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(230, 230, 230);
}
.precio_line {
  position: relative;
  display: flex;
}
.precio {
  position: absolute;
  right: 5px;
}
.precio_envio {
  font-weight: bold;
}

main .botones-crud {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

main .boton-editar button {
  text-decoration: none;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 10px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
}


.boton-eliminar input {
  margin: auto;
  color: black;
  background-color: transparent;
  padding: 8px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
}

main article button {
  text-decoration: none;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 10px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
}

.boton {
  text-align: center;
}

.link_comprar :hover {
  background-color: rgb(48, 48, 48);
  box-shadow: 5px 5px rgb(197 197 197);
}
button :active {
  color: brown;
  background-color: rgb(17, 4, 4);
}
/*--------FOOTER-HOME---------*/

footer {
  position: relative;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

footer .logos i {
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 10px;
  text-align: center;
}

/*------------TABLET--------------*/

@media (min-width: 480px) {
  /*--------HEADER-TABLET---------*/

  header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }

  .sub-nav-mobile .logo p {
    font-size: 24px;
  }

  .menu-hamburguesa {
    display: none;
  }

  header nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: end;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 15px;
  }

  header nav ul li {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  header nav ul li a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    display: block;
    align-items: center;
  }

  .botones-nav {
    display: flex;
    flex-direction: row;
  }

  .botones-nav .boton-a {
    text-decoration: none;
    font-size: 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
  }

  .botones-nav .boton-b {
    text-decoration: none;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 85px;
    text-align: center;
  }
}

/*-----------DESKTOP------------*/

@media (min-width: 760px) {
  /*--------HEADER-DESKTOP---------*/

  header {
    width: 85%;
    margin: auto;
  }

  header nav {
    width: 85%;
  }

  .sub-nav-mobile .logo p {
    font-size: 24px;
  }

  header nav ul li a {
    font-size: 14px;
    padding: 10px;
  }

  header nav ul li a:hover {
    text-decoration-line: underline;
  }

  .botones-nav .boton-a {
    font-size: 14px;
    width: 110px;
  }

  .botones-nav .boton-b {
    font-size: 14px;
    width: 110px;
  }
  /*--------MAIN-DESKTOP---------*/

  main .navbar_carrito .carrito {
    display: inline;
    font-size: 80px;
    margin-right: 2vh;
  }

  main .navbar_carrito {
    justify-content: flex-start;
  }
  main .navbar_carrito .flecha {
    display: none;
  }
  main .detalles_carrito {
    width: 55%;
  }
  main iframe {
    display: flex;
    width: 45%;
    margin: 1vw;
  }
  main {
    width: 85%;
    margin: auto;
  }
}
