<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <title>Movelo</title>
</head>
<body>
    <header>
    
        <div class="sub-nav-mobile">

            <div class="logo">
                <p>Movelo</p>
            </div>

        </div> 

            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>

        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/shop"><img src="/img/icons/Shop_Empty.svg" alt=""></a></li>
                <div class="botones-nav">
                <li><a class="boton-a" href="/login">Iniciar sesion</a></li>
                <li><a class="boton-b" href="/registro">Registrate</a></li>
                </div>
            </ul>
        </nav>
    </header>    

    <main>
        <section>
            <img src="/img/vectors/Security.svg" class="Candado" width="75" alt="candado">
            <a href="/" class="botonCancelar"><i class="far fa-times-circle"></i></a>
            <h2>Iniciar sesión</h2>
            <p>¿Nuevo usuario?</p>
            <a href="/registro">Registrate</a>
            <form action="#" method="post" class="formulario-ingreso">
                <input type="text" class="Usuario-Correo" name="Usuario-Correo" placeholder="Usuario o correo electrónico">
                <input type="password" class="contraseña-login" name="contraseña-login" placeholder="Contraseña">
                <input type="checkbox" id="recordarme" name="recordarme" value="recordarme"><label for="recordarme" class="label">Recordarme</label>
                <a class="boton-iniciarSesion" href="/">Iniciar Sesión</a>
            </form>
            <p>Iniciar sesión con</p>
            <a class="boton-iniciarSesionGoogle" href="/">Google</a>
            <a href="#" class="recuperoContraseña">¿Olvidaste tu Contraseña?</a>
        </section>
    </main>

    <footer>
        <div class="logos">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
        <p>Todos los derechos reservados para Movelo (2022)</p>
    </footer>

</body>
</html>