<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Movelo</title>
</head>
<body>

    <header>
    
        <div class="sub-nav-mobile">

            <div class="logo">
                <p>Movelo</p>
            </div>

        </div> 

            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>

        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href=""><img src="/img/icons/Shop_Empty.svg" alt=""></a></li>
                <div class="botones-nav">
                <li><a class="boton-a" href="/login">Iniciar sesion</a></li>
                <li><a class="boton-b" href="/registro">Registrate</a></li>
                </div>
            </ul>
        </nav>

    </header>

    <section class="servicios">

        <div class="banner">
        <div class="lupa">
            <i class="fas fa-search-location"></i>
            <p>Elegí la ruta de tu paquete</p>
        </div>
        <img src="/img/vectors/Character-1.svg" alt="">
        </div>

            <form action="">
                <div class="formulario">

                <div class="origen">
                    <label for="origen_envio">Origen</label>
                    <input type="text" id="origen_envio" name="origen" placeholder="Origen del envío">
                </div>

                <div class="destino">
                    <label for="destino_envio">Destino</label>
                    <input type="text" id="destino_envio" name="destino" placeholder="Destino del envío">
                </div>

                <div class="boton-buscar">
                    <a href="">Buscar</a>
                </div>

                </div>
            </form>
        

        <div class="filtros">

            <div class="filtros-mobile">
                <i class="fas fa-filter" id="filtros"></i><label for="filtros">Filtrar</label><i class="fas fa-angle-down"></i>
            </div>

            <div class="filtros-desktop">
                <div class="filtro-titulo">
                    <i class="fas fa-filter" id="filtros"></i><label for="filtros">Filtrar:</label>
                </div>
                <div class="filtro">
                    <a href="">Precio<i class="fas fa-angle-down"></i></a>
                </div>
                <div class="filtro">
                    <a href="">Frecuencia<i class="fas fa-angle-down"></i></a>
                </div>
                <div class="filtro">
                    <a href="">Tiempo de entrega<i class="fas fa-angle-down"></i></a>
                </div>
                <div class="filtro">
                    <a href="">Reseñas<i class="fas fa-angle-down"></i></a>
                </div>
                <div class="filtro">
                    <a href="">Tipo de paquete<i class="fas fa-angle-down"></i></a>
                </div>
                <div class="filtro">
                    <a href="">Tipo de usuario<i class="fas fa-angle-down"></i></a>
                </div>
            </div>
        </div>

        <div class="articulos">
           
            <article class="articulo">

                    <div class="verify">
                        <p>Usuario verificado</p><i class="fas fa-user-check"></i>
                    </div>

                    <p class="ciudad-origen">Buenos Aires</p>
                    <div class="flechas">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <p class="ciudad-destino">Mar del plata</p>
                    <p class="precio">$$$</p>

                    <div class="sub-iconos">

                        <div class="review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <a>(4.93)</a>
                        </div>

                        <div class="comprar">
                            <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                        </div>

                    </div>

        </article>

        <article class="articulo">    

                    <div class="verify">
                        <p>Usuario verificado</p><i class="fas fa-user-check"></i>
                    </div>
                    
                    <p class="ciudad-origen">Palermo</p>
                    <div class="flechas">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <p class="ciudad-destino">Lanus</p>
                    <p class="precio">$$$</p>

                    <div class="sub-iconos">

                        <div class="review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <a>(4.0)</a>
                        </div>
    
                        <div class="comprar">
                            <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                        </div>
    
                    </div>

        </article>

        <article class="articulo">

                    <div class="verify">
                        <p>Usuario no verificado</p><i class="fas fa-user-times"></i>
                    </div>
                    
                    <p class="ciudad-origen">Buenos Aires</p>
                    <div class="flechas">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <p class="ciudad-destino">Punta del Este</p>
                    <p class="precio">$$$</p>

                    <div class="sub-iconos">

                        <div class="review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a>(2.83)</a>
                        </div>
    
                        <div class="comprar">
                            <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                        </div>
    
                    </div>

        </article>

            
        <article class="articulo articulo-desktop">      

                        <div class="verify">
                            <p>Usuario verificado</p><i class="fas fa-user-check"></i>
                        </div>
                    
                        <p class="ciudad-origen">Montevideo</p>
                        <div class="flechas">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <p class="ciudad-destino">Buenos Aires</p>
                        <p class="precio">$$$</p>

                        <div class="sub-iconos">

                            <div class="review">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <a>(4.93)</a>
                            </div>
        
                            <div class="comprar">
                                <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                            </div>
        
                        </div>
            </article>

            <article class="articulo articulo-desktop">

                        <div class="verify">
                            <p>Usuario verificado</p><i class="fas fa-user-check"></i>
                        </div>
                    
                        <p class="ciudad-origen">Belgrano</p>
                        <div class="flechas">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <p class="ciudad-destino">La Plata</p>
                        <p class="precio">$$$</p>

                        <div class="sub-iconos">

                            <div class="review">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <a>(4.0)</a>
                            </div>
        
                            <div class="comprar">
                                <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                            </div>
        
                        </div>

            </article>

            <article class="articulo articulo-desktop">
                    
                        <div class="verify">
                            <p>Usuario no verificado</p><i class="fas fa-user-times"></i>
                        </div>
                    
                        <p class="ciudad-origen">Parque Avellaneda</p>
                        <div class="flechas">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <p class="ciudad-destino">Puerto Madero</p>
                        <p class="precio">$$$</p>

                        <div class="sub-iconos">

                            <div class="review">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <a>(4.93)</a>
                            </div>
        
                            <div class="comprar">
                                <a>Agregar al carrito</a><img src="/img/icons/Shop_Empty.svg" alt="">
                            </div>
        
                        </div>
                        
            </article>

        </div>

        <div class="boton-ver-mas">
            <a href="">Ver mas</a><i class="fas fa-angle-down"></i>
        </div>

    </section>

    <footer>
        <div class="logos">
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://es-la.facebook.com/"><i class="fab fa-instagram"></i></a>
        </div>
        <p>Todos los derechos reservados para Movelo (2022)</p>
    </footer>

</body>
</html>