/*--------GLOBALES---------*/

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*--------BODY---------*/


body {
    background-image: url(../img/vectors/Path\ 230.svg);
    width: 100vw;
}

/*--------HEADER---------*/


header .sub-nav-mobile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.sub-nav-mobile .logo p {
    font-size: 24px;
    font-weight: 400;
    display: block;
    align-items: center;
}

.sub-nav-mobile .menu-hamburguesa {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 12px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
}

nav {
    display: none;
}

/*--------MAIN---------*/

/*--------MAIN-HOME---------*/

main {
    width: 100wv;
}

main .textos {
    margin-bottom: 80px;
}

main .titulos {
    font-size: 28px;
    font-weight: 400;
    margin: 70px;
    text-align: center;
}

main .titulo-2 {
    display: none;
}

main .sub-titulo {
    font-size: 16px;
    font-weight: 400;
    margin: 50px;
    text-align: center;
}

main .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 105px;
}

main .boton-1 {
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 160px;
    text-align: center;
    margin-bottom: 15px;
}

main .boton-2 {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid 1px black;
    border-radius: 25px;
    width: 160px;
    text-align: center;
}

/*--------FOOTER-HOME---------*/


footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

footer .logos i {
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
}

/*------------TABLET--------------*/

@media (min-width: 480px) {

/*--------HEADER-TABLET---------*/

    header {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
    }

    .sub-nav-mobile .logo p {
        font-size: 24px;
    }

    .menu-hamburguesa{
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: end;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: end;
        margin-right: 15px;
    }

    header nav ul li {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    header nav ul li a {
        text-decoration: none;
        font-size: 10px;
        color: black;
        display: block;
        align-items: center;
    }

    .botones-nav {
        display: flex;
        flex-direction: row;
    }

    .botones-nav .boton-a {
        text-decoration: none;
        font-size: 10px;
        background-color: transparent;
        color: black;
        padding: 10px;
        border: solid 1px black;
        border-radius: 25px;
        width: 85px;
        text-align: center;
    }

    .botones-nav .boton-b {
        text-decoration: none;
        font-size: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        border: solid 1px black;
        border-radius: 25px;
        width: 85px;
        text-align: center;
    }

    

/*--------MAIN_HOME-TABLET---------*/

main .titulo-1 {
    margin-bottom: 0px;
}

main .titulo-2 {
    display: block;
    color: lightgray;
    margin-top: 10px;
}

main .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;
}

main .boton-1 {
    margin-bottom: 0px;
    margin-right: 5px;
}

main .boton-2 {
    margin-left: 5px;
}

}

/*-----------DESKTOP------------*/

@media (min-width: 760px) {

/*--------HEADER-DESKTOP---------*/

    header {
        width: 75%;
        margin: auto;
    }

    header nav {
        width: 90%;
    }

    .sub-nav-mobile .logo p {
        font-size: 24px;
    }

    header nav ul li a {
        font-size: 14px;
        padding: 10px;
    }

    header nav ul li a:hover {
        text-decoration-line: underline;
    }

    .botones-nav .boton-a {
        font-size: 14px;
        width: 110px;
    }

    .botones-nav .boton-b {
        font-size: 14px;
        width: 110px;
    }

}