<header>
    
    <div class="sub-nav-mobile">

        <div class="logo">
            <p>Movelo</p>
        </div>

    </div> 

        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/shop"><img src="/img/icons/Shop_Empty.svg" alt=""></a></li>
            <div class="botones-nav">
            <li><a class="boton-a" href="/login">Iniciar sesion</a></li>
            <li><a class="boton-b" href="/registro">Registrate</a></li>
            </div>
        </ul>
    </nav>
</header>