<main>
    <section class="principal">

        <div class="textos">
            <div class="titulos">
                <p class="titulo-1">Generá ingresos mientras te moves... |</p>
                <p class="titulo-2">Hacé tus pedidos y envíos de forma rapida y segura... |</p>
            </div>
                <p class="sub-titulo">Garantizamos confianza, transparencia y brindamos oportunidades de crecimiento a nuestros usuarios </p>
        </div>

        <div class="botones">
            <a class="boton-1" href="">Hacer un pedido</a>
            <a class="boton-2" href="">Realizar un envío</a>
        </div>

    </section>
</main>