<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="./stylesheets/inicio.css">
  </head>
  <body>
    <%- include('./partials/header') %>   <!-----------HEADER----------->
    
    <%- include('./partials/inicio-main') %>

    <%- include('./partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
