<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="stylesheets/inicio.css">
  </head>
  <body>
    <%- include('./partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section class="principal">
  
          <div class="textos">
              <div class="titulos">
                  <p class="titulo-1">Generá ingresos mientras te mueves</p>
                  <p class="titulo-2">Hacé tus pedidos y envíos de forma rapida y segura... |</p>
              </div>
                  <p class="sub-titulo">Garantizamos confianza, transparencia y brindamos oportunidades de crecimiento a nuestros usuarios </p>
          </div>
  
          <div class="botones">
              <a class="boton-1" href="/productos">Hacer un pedido</a>
              <a class="boton-2" href="/users/login">Realizar un envío</a>
          </div>
  
      </section>
  </main>

    <%- include('./partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
