<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/registro-head') %>
  </head>
  <body>
    <%- include('./partials/header') %>   <!-----------HEADER----------->
    
    <%- include('./partials/registro-main') %>

    <%- include('./partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>