<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin-lista-usuarios.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
        <section>

            <h1>Lista de usuarios</h1>

            <div class="lista-usuarios">

                <div class="usuario">
                    <a href="">usuario</a>
                </div>

            </div>
        </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>