<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin2.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
        <section>

            <h1>Panel de control</h1>

            <div class="panel-de-control">

                <div class="usuarios">
                    <a href="">Lista de usuarios</a>
                </div>
        
                <div class="productos">
                    <a href="">Lista de productos</a>
                </div>

            </div>
        </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
