<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>

      <div class="formulario-crear-servicio">
          <div class="editarCrear">
            <a class="activo" id="activo"><h2>Crea nuevo servicio</h2></a>
            <a href="/users/admin/elegir-editar" class="inactivo" id="inactivo"><h2>Edita un servicio</h2></a>
          </div>

          <div class="formulario">
            <form action="/productos" method="POST">

                <h3 for="Ruta">Ruta de envío</h3>
              
              <div class="column-crear">
                <label for="origen">Orígen</label>
                <input type="text" name="origen" id="origen">
              </div>

              <div class="column-crear">
                <label for="destino">Destino</label>
                <input type="text" name="destino" id="destino">
              </div>
                
              <div class="column-crear">
                <h3>Tipo de envío</h3>
                  
                <div class="row-crear">
                  <div class="sub-row-crear">
                    <label for="envio-local">Local</label>
                    <input type="radio" name="tipoEnvio" id="envio-local" value="Envio local">
                    <label for="envio-internacional">Internacional</label>
                    <input type="radio" name="tipoEnvio" id="envio-internacional" value="Envio internacional">
                  </div>
                </div>

              </div>
                
              <div class="column-crear">
                <h3 for="frecuencia">Frecuencia de envios</h3>
                
                <select name="frecuencia" id="frecuencia">
                  <option value="Diario">Diario</option>
                  <option value="Semanal">Semanal</option>
                  <option value="Mensual">Mensual</option>
                  <option value="Personalizar...">Personalizar...</option>
                </select>
              </div>
              
              <div class="column-crear">
                <h3 for="tamaño">Dimensiones del paquete</h3>

                <div class="column-crear">
                  <label for="peso">Peso</label>
                  <input type="number" placeholder="Kilogramos" name="peso" id="peso">
                </div>

                <div class="column-crear">
                  <label for="altura">Altura</label>
                  <input type="number" placeholder="Centímetros" name="altura" id="altura">
                </div>

                <div class="column-crear">
                  <label for="ancho">Ancho</label>
                  <input type="number" placeholder="Centímetros" name="ancho" id="ancho">
                </div>

              </div>

              <div class="column-crear">
                <h3><label for="descripcion">Descripción</label></h3>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
              </div>  

              <div class="column-crear">
                <h3><label for="precio">Precio base</label></h3>
                <input type="number" name="precio" id="precio" step=".00">
              </div>

              <div class="botones-crear">
                  <div class="publicar-crear">
                    <input type="submit" name="publicar" id="publicar" value="publicar">
                  </div>

                  <div class="reset-crear">
                    <input type="reset" name="restablecer" id="restablecer" value="restablecer">
                  </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
