<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/login.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section>
          <img src="/images/vectors/Security.svg" class="Candado" width="75" alt="candado">
          <a href="/" class="botonCancelar"><i class="far fa-times-circle"></i></a>
          <h1>Iniciar sesión</h1>
          <p class="nuevo-usuario">¿Nuevo usuario?</p>
          <a href="/registro" class="registrate">Registrate</a>
          <form action="#" method="post" class="formulario-ingreso">
              <input type="text" class="casilla" name="Usuario-Correo" placeholder="Usuario o correo electrónico">
              <input type="password" class="casilla" name="contraseña-login" placeholder="Contraseña">
              <div class="checkbox">
                  <input type="checkbox" class="checkbox-box" id="recordarme" name="recordarme" value="recordarme"><i class="fa-solid fa-square-check"></i><label for="recordarme" class="label">Recordarme</label>
              </div>
              <a class="boton-iniciarSesion" href="/">Iniciar Sesión</a>
          </form>
          <div class="iniciarSesionCon-mobile">
              <p class="iniciar-sesion-con">Iniciar sesión con</p>
              <a class="boton-iniciarSesionGoogle" href="/">Google</a>
          </div>
          <a href="#" class="recuperoContraseña">¿Olvidaste tu Contraseña?</a>
      </section>
      <div class="iniciarSesionCon-desktop">
          <p class="iniciar-sesion-con">Iniciar sesión con</p>
          <a class="boton-iniciarSesionGoogle" href="/">Google</a>
      </div>
      <div class="CharacterIMG">
          <img src="/images/vectors/Character-2.svg" class="Character" width="180" alt="Character-2">
      </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
