<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->

<div>
    <h1>Hi <%= user.name %></h1>
</div>

<%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
